{% if site.avatar -%}
<div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
    {%- assign avatar = site.avatar -%}
    {%- else -%}
    {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" draggable="false" class="author-avatar u-photo align-center" style="width: 180px" alt="{{ site.author }}">
    <p style="        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: #484848;"><strong>Landon Butler</strong></p>
</div>
{%- endif %}

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,600&amp;display=swap" rel="stylesheet">
<div class="sidebar-section" style="text-align: center">
    <ul class="contact-list" style="font-size: 0.9rem">
        <li>
            <p style="        margin-bottom: 1rem;
        font-weight: 600;
        color: #484848;">University of Pennsylvania</p>
        </li>
        <li>
            <a class="sidebarLinks" target="_blank" style="margin-bottom: 0rem; font-weight: 600;" href="https://dats.seas.upenn.edu/">Data Science</a>
        </li>
        <li>
            <a class="sidebarLinks" target="_blank" style="margin-bottom: 0rem; font-weight: 600;" href="https://www.ese.upenn.edu/">Systems Engineering</a>
        </li>
    </ul>
</div>

{% if site.data.social -%}
<div class="sidebar-section">
    <ul class="social-icons" style="text-align: center">
        {% for social in site.data.social -%}
        <li>
            {% if social.title == 'Email' -%}
            <a class="social-icon sidebarLinks" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
            {%- else %}
            <a class="social-icon sidebarLinks" target="_blank" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x sidebarLinks" title="{{ social.title }}"></i></a>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
</div>
{%- endif %}
