// Placeholder to allow customizing styles.

.sidebarLinks {
    color: #484848 !important;
}

.homepageLinks {
    color: #111 !important;
}

.sidebarLinks:hover {
    color: #88CDF6 !important;
}

.homepageLinks:hover {
    color: #88CDF6 !important;
}

