// Placeholder to allow customizing styles.
.main-picture {
    width: 180px;
}

.sidebarLinks:hover {
    color: hotpink;
}

.sidebarFont {
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}