---
layout: default
---

<div class="home">
    <p style="hyphens: none">
        Hello! I'm Landon, a senior at the University of Pennsylvania. I'm concurrently pursuing a Master's degree in Data Science and a Bachelor's degree in Systems Engineering, seeking to better understand the systems that comprise the world around us from a data-driven perspective. Additionally, I'm interested in learning how to leverage a broad range of quantitive and computational skills, and hence, am finishing minors in Computer Science, Mathematics, and Statistics.
    </p>
    <p style="hyphens: none">
        My research lies at the confluence of network science and machine learning, where I develop and apply learning algorithms to dynamical systems situated on networks. In doing so, I've been able to incoporate concepts from statistics, information theory, game theory, and a variety of other tangential domains. So far, I've had the opportunity to research for <a target="_blank" class="homepageLinks" href="https://landonbutler.github.io/research#datadistribution">data distribution polices amongst robot teams</a> and <a target="_blank" class="homepageLinks" href="https://landonbutler.github.io/research#anomalydetection">anomaly detection techniques on multigraphs and hypergraphs</a>.
    </p>
    <p style="hyphens: none">
        I'm also passionate about sharing about these fields through teaching. At Penn, I've been a Teaching Assistant for three courses: an undergraduate level course in data science, a master's level course in applied machine learning, and a PhD level course on graph neural networks. You can learn more about my teaching in these courses <a target="_blank" class="homepageLinks" href="https://landonbutler.github.io/teaching/">
    here</a>.
</p>
    <p style="hyphens: none">
        Outside of academics, I'm also a percussionist in the Penn Band and <a target="_blank" class="homepageLinks" href="https://www.youtube.com/watch?v=jZbI4XdOvA8">write drum scores in my spare time</a>.
    </p>
</div>
