---
layout: default
---
<div class="home">
    <h1>Anomaly Detection on Hypergraphs</h1>
    <hr />
    <h1>Learning Connectivity for Data Distribution in Robot Teams</h1>
    <img src="..\ConnectivityDiagram.JPG" draggable="false" class="align-center" style="width: 320px">

    <div style="text-align: center"><iframe width="560" height="315" src="https://www.youtube.com/embed/UNBvsPZIudU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

